<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Toboolist</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- VueJS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    
    <div id="app">

        <!-- header -->
        <header class="headers">
            <img src="img/logo.png" alt="">
        </header>
        <!-- /header -->
    
        <!-- main -->
        <main>
            <!-- Container Add Task -->
            <div class="container addtask">
                <label for="inputToDo"></label>
                <input type="text" id="inputToDo" class="add-taskname" placeholder="es: Fare la spesa..." v-model="newToDo.text">
                <button class="button-add"><span class="button-text" @click="addToDo()">Add Task</span></button>
                <div class="error" v-if="error">Inserisci del testo! </div>
            </div>
            <!-- /Container Add Task -->
    
            <!-- Container Task -->
            <div class="container maintask">
    

                <ul>
                    <li class="macrolista">

                        <!-- <h3 v-if="!cards.length">Non ci sono Carte Fedeltà</h3> -->

    
                        <!-- nome -->
                        <!-- <strong  class="macrolistname"> &#11166; OGGI</strong> -->
    
                        <!-- lista di task -->
                        <ul>
                            <!-- ogni task della lista -->
                            <li v-for="(toDoItem, index) in toDo" class="list-item">
                                <span class="checked" v-if="toDoItem.isDone">&check;</span>
                                <span class="unchecked" v-else>&cross;</span>
                                <span class="taskname" :class="toDoItem.done">{{toDoItem.text}}</span>
                                <!-- <span class="tasktype goals done">Q1 Goals</span> -->
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- /Container Task -->
    
        </main>
        <!-- /main -->
    </div>


    <!-- JS -->
    <script src="js/script.js"></script>

</body>
</html>